body {
  color: white;
  background-color: black;
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #ff0000;
  color: #fdfdfd;
  width: 5rem;
  padding: 2rem;
  display: block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-50 {
  width: 50%;
}

.row {
  display: flex;
}

.align-center {
  text-align: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pl-1 {
  padding-left: 1rem;

}

.d-flex {
  display: flex;
}
